@import 'globals';

.wrapper {
  position: relative;
  width: 100%;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 100%;
  width: $sidebar-width;
  background: red;
  display: none;

  @include media('>desktop-laptop') {
    display: block;
  }
}

.main {
  @include main-layout;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.article-intro,
.article-detail {
  @include article-body-width;
}


/**
 * We use FlexBox to change the order of the elements in the article.
 * 1. Flexbox needs width
 */

// scss-lint:disable SelectorFormat, IdSelector

.az-iso--articleIntro,
.az-iso--articleDetail,
.recommendations-top {
  width: 100%; /* 1 */
}

.az-iso--articleIntro {
  order: 1;
}

.recommendations-top {
  order: 2;
}

.az-iso--articleDetail {
  order: 3;
}

#content_board {
  order: 4;
}

// scss-lint:enable SelectorFormat, IdSelector

