@font-face {
  font-family: 'Publico';
  src: url('PublicoText-Roman-Web.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Publico';
  src: url('PublicoText-Bold-Web.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Publico';
  src: url('PublicoText-Italic-Web.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Publico Headline';
  src: url('PublicoHeadline-Medium-Web.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax';
  src: url('ColfaxWebRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax';
  src: url('ColfaxWebBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
