#
# Builds an environment to develop against a local running application
#
# This needs the full a-z environment on the local machine.
#
[buildout]
extends = buildout.cfg

[backend]
upstream = localhost:8004
api = localhost:8711
