<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ staticBasePath }}/client/styles.css" />

<link rel="apple-touch-icon" sizes="57x57" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/{{ skin }}/manifest.json">
<link rel="shortcut icon" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/favicon.ico">
<meta name="msapplication-TileColor" content="{{ "#e30613" if skin == "ot" else "#1b4d85" }}">
<meta name="msapplication-TileImage" content="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/mstile-144x144.png">
<meta name="msapplication-config" content="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/{{ skin }}/browserconfig.xml">
<meta name="theme-color" content="{{ "#e30613" if skin == "ot" else "#1b4d85" }}">

{# Add helper classes for JS and touch detection #}
<script>
  {% include 'client/scripts/html-classes.js' %}
</script>

{# Add webfont loading script, adds loadFont function  #}
<script>
  {% include 'client/scripts/webfont-loading.js' %}
</script>

<script>
  (function (global) {

    // Check for defined globals
    global.az = global.az || {};

    // Load fonts to LocalStorage
    global.loadFont(
      'az-fonts',
      '{{ staticBasePath }}/client/fonts/data-woff.css',
      '{{ staticBasePath }}/client/fonts/data-woff2.css'
    );

    // Set AZ globals based on skin
    var az;
    az = global.az;
    az.globals = {
      'kaltura_frontend_video_player_id': {{kaltura_frontend_video_player_id}},
      'kaltura_frontend_adless_video_player_id': {{kaltura_frontend_adless_video_player_id}},
      'kaltura_mediathek_video_player_id': {{kaltura_mediathek_video_player_id}},
      'kaltura_mediathek_category_id': {{kaltura_mediathek_category_id}}
    };

  })(window);
</script>

{% if withAds -%}
<!--# include virtual="{{ staticBasePath }}/client/includes/advertising/{{ skin }}_{{ pageType }}.html" -->
{%- endif %}

<script src="//aka-cdn-ns.adtech.de/dt/common/DAC.js"></script>
<script src="//www.google.com/recaptcha/api.js" async defer></script>
